<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title id="title"></title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="../uikit/css/uikit.min.css" />

  <!-- Custom CSS -->
  <link href="stylesheets/style.css" rel="stylesheet">

  <!-- UIkit JS -->
  <script src="../uikit/js/uikit.min.js"></script>
  <script src="../uikit/js/uikit-icons.min.js"></script>

  <!-- Google Maps API -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW17N2QfmsaG3vLZxkmfeOolBEIKKVM0U&libraries=places"></script>
</head>

<body>
  <!-- Hero -->
  <div class="uk-cover-container uk-height-medium">
    <img src="../images/wanderful-hero.jpg" alt="lake and forest" id="destination-hero" uk-cover>
  </div>
  </div>

  <!-- Destination Title-->
  <div class="uk-container uk-margin-medium uk-margin-large-bottom">

    <h2 class="uk-text-left uk-heading-small uk-text-lighter	" id="destination-name">City, Country
    </h2>

    <!-- Destination info -->
    <div class="info-box">
      <p id="destination-info"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam veniam rem facilis dolore soluta nam distinctio beatae mollitia vel. Ad fuga laborum soluta debitis cum enim explicabo at sed quaerat.</p>
    </div>

    <!-- Add Buttons -->

    <div class="uk-card-footer">
      <ul class="uk-iconnav">

        <a href="#" class="uk-button uk-button-small uk-link-reset">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: location" id=""></span>
          Add visited
        </a>

        <a href="#" class="uk-button uk-button-small uk-link-reset">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: heart" id=""></span>
          Add wishlist
        </a>

      </ul>
    </div>

  </div>

  <!-- Footer Nav -->
  <footer class="custom-footer">
    <nav class="uk-navbar-container">
      <div class="uk-navbar-center uk-flex-center">
        <ul class="uk-navbar-nav">
          <li class="active"> <a href="home.html"> <span class="uk-icon uk-margin-small-right"
                uk-icon="icon: search"></span> 
                Wander</a></li>
          <li> <a href="wishlist.html"> <span class="uk-icon uk-margin-small-right"
                uk-icon="icon: heart"></span>Wishlist</a></li>
          <li> <a href="visited.html"> <span class="uk-icon uk-margin-small-right"
                uk-icon="icon: location"></span>Visited</a></li>
        </ul>
      </div>
    </nav>
  </footer>

</body>

</html>