<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wanderful - Wander</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="../uikit/css/uikit.min.css" />

  <!-- Custom CSS -->
  <link href="stylesheets/style.css" rel="stylesheet">

  <!-- UIkit JS -->
  <script src="../uikit/js/uikit.min.js"></script>
  <script src="../uikit/js/uikit-icons.min.js"></script>

  <!-- Google Maps API -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW17N2QfmsaG3vLZxkmfeOolBEIKKVM0U&libraries=places"></script>
</head>

<body>
  <div class="hero">
    <!-- Overlay Image -->
    <div class="uk-inline">
      <img src="../images/wanderful-hero.jpg" alt="lake and forest">
      <div class="uk-overlay-default uk-position-center">

        <!-- Search Bar -->
        <form class="uk-search uk-search-default">
          <span uk-search-icon></span>
          <input class="uk-search-input" type="search" placeholder="Where to next?">
        </form>

      </div>
    </div>
  </div>

  <!-- Explore Pop Destinations Section -->
  <div class="uk-container uk-margin-medium uk-margin-large-bottom">

    <header class="uk-text-center uk-heading-small uk-text-lighter	">EXPLORE POPULAR DESTINATIONS
    </header>

    <!-- Map with markers -->
    <div class="uk-container-xsmall uk-inline uk-dark uk-flex">
      <img src="../images/world-map.png" alt="world map">

      <!-- San Diego Marker -->
      <a class="uk-position-absolute uk-transform-center" style="left: 70%; top: 45%" uk-marker id="san-diego-marker"
        uk-toggle="target: #san-diego-info"></a>

      <!-- San Diego Card -->
      <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-position-absolute" id="san-diego-info"
        style="left: 71%; top: 45%" hidden>

        <h4 class="uk-card-title">San Diego</h4>
        <button class="uk-button uk-button-default">LEARN MORE</button>

        <!-- San Diego Wishlist/Visited-->
        <div class="uk-card-footer">
          <ul class="uk-iconnav">
            <a href="#" class="uk-button uk-button-small uk-link-reset">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: location" id=""></span>
              Add visited
            </a>
            <a href="#" class="uk-button uk-button-small uk-link-reset">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: heart" id=""></span>
              Add wishlist
            </a>
          </ul>
        </div>

      </div>


    </div>


  </div>
  <div id="map"></div>

  <!-- Footer Nav -->
  <footer class="custom-footer">
    <nav class="uk-navbar-container">
      <div class="uk-navbar-center uk-flex-center">
        <ul class="uk-navbar-nav">
          <li class="active"> <a href="home.html"> <span class="uk-icon uk-margin-small-right  uk-text-primary"
                uk-icon="icon: search"></span> <span class="uk-text-primary">
                Wander</span></a></li>
          <li> <a href="wishlist.html"> <span class="uk-icon uk-margin-small-right"
                uk-icon="icon: heart"></span>Wishlist</a></li>
          <li> <a href="visited.html"> <span class="uk-icon uk-margin-small-right"
                uk-icon="icon: location"></span>Visited</a></li>
        </ul>
      </div>
    </nav>
  </footer>

</body>

</html>