<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wanderful - Wander</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="../uikit/css/uikit.min.css" />
  <!-- Custom CSS -->
  <link href="../stylesheets/style.css" rel="stylesheet">

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

  <!-- UIkit JS -->
  <script src="../uikit/js/uikit.min.js"></script>
  <script src="../uikit/js/uikit-icons.min.js"></script>

  <!-- Google Maps API -->
</head>

<body>
  <div class="hero">
    <!-- Overlay Image -->
    <div class="uk-inline">
      <img src="../images/wanderful-hero.jpg" alt="lake and forest" id="hero-image">
      <div class="uk-overlay-default uk-position-center">
        <!-- Search Bar -->
        <form class="uk-search uk-search-default">
          <span uk-search-icon></span>
          <input class="uk-search-input" type="search" placeholder="Where to next?">
          <button id="search" type="submit" href="#modal-full" uk-toggle>Search</button>
        </form>
      </div>
    </div>
  </div>

  <div class="photo">

  </div>
  <!-- Explore Pop Destinations Section -->
  <div class="uk-container uk-margin-medium uk-margin-large-bottom">
    <header class="uk-text-center uk-heading-small uk-text-lighter	">EXPLORE POPULAR DESTINATIONS
    </header>
    <!-- Map with markers -->
    <div class="uk-container-xsmall uk-inline uk-dark uk-flex">
      <img src="../images/world-map.png" alt="world map">
      <!-- San Diego Marker -->
      <a class="uk-position-absolute uk-transform-center" style="left: 70%; top: 45%" uk-marker id="san-diego-marker"
        uk-toggle="target: #san-diego-info"></a>
      <!-- San Diego Card -->
      <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-position-absolute" id="san-diego-info"
        style="left: 71%; top: 45%" hidden>
        <h4 class="uk-card-title">San Diego</h4>
        <button class="uk-button uk-button-default learn-more" href="#modal-full" uk-toggle data-query="san diego usa">LEARN
          MORE</button>
      </div>

      <!-- Tokyo Marker -->
      <a class="uk-position-absolute uk-transform-center" style="left: 43%; top: 43%" uk-marker id="tokyo-marker"
        uk-toggle="target: #tokyo-info"></a>
      <!-- Tokyo Card -->
      <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-position-absolute" id="tokyo-info"
        style="left: 44%; top: 43%" hidden>
        <h4 class="uk-card-title">Tokyo</h4>
        <button class="uk-button uk-button-default learn-more" href="#modal-full" uk-toggle data-query="tokyo japan">LEARN
          MORE</button>
      </div>

      <!-- Dubai Marker -->
      <a class="uk-position-absolute uk-transform-center" style="left: 20%; top: 50%" uk-marker id="dubai-marker"
        uk-toggle="target: #dubai-info"></a>
      <!-- Dubai Card -->
      <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-position-absolute" id="dubai-info"
        style="left: 21%; top: 50%" hidden>
        <h4 class="uk-card-title">Dubai</h4>
        <button class="uk-button uk-button-default learn-more" href="#modal-full" uk-toggle data-query="dubai united arab emirates">LEARN
          MORE</button>
      </div>

      <!-- Paris Marker -->
      <a class="uk-position-absolute uk-transform-center" style="left: 6%; top: 38%" uk-marker id="paris-marker"
        uk-toggle="target: #paris-info"></a>
      <!-- Paris Card -->
      <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-position-absolute" id="paris-info"
        style="left: 7%; top: 38%" hidden>
        <h4 class="uk-card-title">Paris</h4>
        <button class="uk-button uk-button-default learn-more" href="#modal-full" uk-toggle data-query="paris france">LEARN
          MORE</button>
      </div>
      
      <!-- Toronto Marker -->
      <a class="uk-position-absolute uk-transform-center" style="left: 82%; top: 38%" uk-marker id="toronto-marker"
        uk-toggle="target: #toronto-info"></a>
      <!-- Toronto Card -->
      <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-position-absolute" id="toronto-info"
        style="left: 83%; top: 38%" hidden>
        <h4 class="uk-card-title">Toronto</h4>
        <button class="uk-button uk-button-default learn-more" href="#modal-full" uk-toggle data-query="toronto canada">LEARN
          MORE</button>
      </div>
    </div>
  </div>

  <!--Learn More Modal-->
  <div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
      <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
        <div id="destination-image" class="uk-background-cover" style="background-image: url('images/photo.jpg');"
          uk-height-viewport></div>
        <div class="uk-padding-large">
          <h1 id="city"></h1>
          <p></p>
          <ul class="uk-iconnav">
            <a class="uk-button uk-button-small uk-link-reset add-visited">
              <span id ="visit" class="uk-icon uk-margin-small-right" uk-icon="icon: location"></span>
            <span id= "visited"> Add visited </span>
            </a>
            <a class="uk-button uk-button-small uk-link-reset add-wishlist">
              <span id= "wish" class="uk-icon uk-margin-small-right" uk-icon="icon: heart"></span>
              <span id= "wished">  Add wishlist </span>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--Map Container-->
  <div class="uk-container">
    <div class="mapdiv">
      <div id="map"></div>
    </div>
  </div>

  <!-- Footer Nav -->
  <footer class="custom-footer">
    <nav class="uk-navbar-container">
      <div class="uk-navbar-center uk-flex-center">
        <ul class="uk-navbar-nav">
          <li class="active"> <a href="/"> <span class="uk-icon uk-margin-small-right  uk-text-primary"
                uk-icon="icon: search"></span> <span class="uk-text-primary">
                Wander</span></a></li>
          <li> <a href="wishlist"> <span class="uk-icon uk-margin-small-right" uk-icon="icon: heart"></span>Wishlist</a>
          </li>
          <li> <a href="visited"> <span class="uk-icon uk-margin-small-right"
                uk-icon="icon: location"></span>Visited</a></li>
        </ul>
      </div>
    </nav>
  </footer>
  <script src="../js/api.js"></script>

</body>

</html>