form.signup,
form.login {
  margin-top: 50px;
}
.custom-footer { 
  /* Fixed footer */ 
  position: fixed; 
  left: 0; 
  bottom: 0; 
  width: 100%;  
}
#map {
  height: 100%;
}
.mapdiv {
  height: 0x;
  width: 0px;
}